

<div>

<div>


<form>

                <div>


                   <div >


                        <div>

                            <input type="text" class="form-control" id="title" placeholder="titlee"
                            [(ngModel)]="model.title" name="title">
                            

                        </div>

                        <div>

                            <input type="text" class="form-control" id="url" placeholder="urll"
                            [(ngModel)]="model.url" name="url">

                        </div>
                        


                </div> <!-- end body -->

                <div>

                   <!--> <button type="submit" >Send</button> -->
                    <button type="button" class="btn btn-default" (click)="clickbutton()">Add</button> 

                </div>
        </div><!-- end modal-content -->



</form>

</div>


</div>















<h4>Component</h4>

  <div *ngFor="let bookmark of _bookmarks">
  {{bookmark.title}}
  <br/>
  {{bookmark.url}}
  </div>
  <p>Glass icon: <span class="glyphicon glyphicon-glass"></span></p> 
  <button type="button" class="btn btn-default" (click)="clickbutton()">Default</button> 
  


