

<div>

<div>


<form>

                <div>


                   <div >


                        <div>

                            <input type="text" class="form-control" id="title" placeholder="title"
                            [(ngModel)]="model.title" name="title">
                            

                        </div>

                        <div>

                            <input type="text" class="form-control" id="url" placeholder="url"
                            [(ngModel)]="model.url" name="url">

                        </div>
                        


                </div> <!-- end body -->

                <div>

                   <!--> <button type="submit" >Send</button> -->
                    <button type="button" class="btn btn-default" (click)="clickbutton()">Add</button>
                    <button type="button" class="btn btn-danger"  (click)="deleteClick()">Delete</button>

                </div>
        </div><!-- end modal-content -->



</form>

</div>


</div>



{{_bookmark.title}}
{{_bookmark.url}}

<h4>Component</h4>
{{model.title}}
{{firstname}}

  <div *ngFor="let bookmark of _bookmarks">
  {{bookmark.title}}
  
  <br/>
  {{bookmark.url}}
  </div>
  <p>Glass icon: <span class="glyphicon glyphicon-glass"></span></p> 
  <button type="button" class="btn btn-default" (click)="clickbutton()">Default</button> 

  <button type="button" class="btn btn-default" (click)="itemClick()">Item</button> 
  


